body{
    background-color:#101f2b ;
}
body::before{
    content:'';
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
}

.logo img{
    height: 57px;
    width: 95px;
}

.cor1{
    background-color: #37556d;
    color: #c14540;
}
.d-flex button{
    color: #c14540;
    box-shadow: #c14540;
    border-color: #c14540;
}

.d-flex button:hover{
    background-color: #c14540;
    border-color: #fffdfd;
}

.d-flex input{
    background-color: #385a76b1;
    color: #0a131a;
    border-color: #0a131a;
}

.d-flex input:hover{
    background-color: #273e51b1;
    color: #ffffff;
    border-radius: #10202c;
    border-style: outset;
}

.d-flex input:active{
    background-color: #273e51b1;
    color: #ffffff;
    border-radius: #10202c;
}



h2{
    color: #fffdfd;
}


.text{
    background-color: #081016ec;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.text:hover{
    background-color: #060c11;
}

.row img:hover{
    cursor: pointer;
    transition: transform 0.5 ease;
    transform: scale(1.2);
    z-index: 5;

}
