<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/cadastro.css">
    <script src="/assets/js/cadastro.js"defer></script>
    <title>Cadastro</title>
</head>
<body>
    <!-- header -->
    <div class="header">
        <div class="logo">
            <a href="../paginaLogin/index.html">
                <img src="/assets/img/logo-cinnexus.png" alt="">
            </a>
        </div>
    </div>

    <!-- body -->
    <div class="cadastro_body">
        <div class="cadastro_box">
            <h2>Cadastre-se</h2>
            <form id="registrarForm">
                <!-- inputs -->
                <div class="input_box">
                    <!-- input nome -->
                    <label for="name" >Nome</label>
                    <input type="text" name="name" id="name" placeholder="Nome completo" autocomplete="name"required/>


                <!-- input email -->
                    <label for="email" >Email</label>
                    <input type="email" name="email" id="email"  placeholder="Email" autocomplete="email"required/>  

                
                <!-- input cpf -->
                    <label for="cpf" >CPF</label>
                    <input type="text" name="cpf" id="cpf"placeholder="CPF" autocomplete="off" required/>


                <!-- input data de nascimento -->
                    <label for="birthday" >Data de nascimento</label>
                    <input type="date" name="birthday" id="birthday" autocomplete="bday" required/>


                <!-- input senha -->
                    <label for="password" >Senha</label>
                    <input type="password" name="password" id="password"placeholder="Senha" autocomplete="new-password"required/>


                <!-- botão cadastrar 
                <button for="submit" class="submit">
                        Cadastrar
                </button>
                -->
                <div >
                    <button type="button" value="Submit" class="Submit" onclick='cadastro()'>
                        Cadastrar
                    </button>
                </div>
            </form>
            <!-- box suporte -->
            <div class="help">
                <a href="#">
                    Precisa de ajuda?
                </a>
            </div>
            <!-- footer -->
            <div class="login_footer">
                <div class="login_facebook">
                    <span><img height="20px" src="/assets/img/Facebook_logo.png" alt="facebook"></span>
                    <span><a href="#">Conectar com o Facebook</a></span>
                </div>

                <div class="sign_up">
                    <p>Já é cadastrado? <a href="/view/login.html">Faça login.</a></p>
                </div>

                <div class="terms">
                    <label for="terms">Termo: </label>
                    <input class="checkbox" type="checkbox" name="terms" id="terms" >
                </div>
                <div class="saiba_mais">
                    <p>Esta página é protegida pelo Google reCAPTCHA para garantir que você não é um robô. <a href="#">Saiba mais</a></p>
                </div>
            </div>
        </div>
    </div>
    <script src="/paginaCadastro/assets/js/script.js"async defer></script>
</body>
</html>